@import "../../styles/_variables.scss";

.footerContainer {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 20px;
  background-color: $darkGray;
  border-top: 3px solid $mainOrange;
  max-width: 952px;
  margin: 0 auto 10px;
  color: white;
  font-family: $fontLight;

  a {
    color: white;
  }

  @media only screen and (min-width: 760px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.logo {
  max-width: 48px;
  margin-right: 16px;
}

.address {
  line-height: 1.55;

  p {
    margin-bottom: 2px;
  }
}

.leftColumn {
  display: none;

  @media only screen and (min-width: 760px) {
    display: flex;
    font-size: 12px;
  }
}

.rightColumn {
  font-size: 10px;
  text-align: center;

  p {
    padding: 10px;

    @media only screen and (min-width: 760px) {
      padding: 4px 0 0;
      text-align: right;
      margin-bottom: 2px;
    }
  }
}

.socialIconList {
  // max-width: 120px;
  width: 100%;
  margin: 0 0 1px auto;
  

  justify-content: space-between;
  align-items: center;
  display: flex;
  flex: 1 1 auto;

  li {
    padding: 0 8px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.textXsmall {
  font-size: 8.8px;
  padding: 4px 0 0;
  text-align: right;
  margin-bottom: 2px;
}

.socialIconItem {
  padding: 0 11.4px;
  cursor: pointer;
  font-size: 11.2px;
}

.socialIconItem:first-of-type {
  padding: 0 8px 0 0;
}

.socialIconItem:last-of-type {
  padding: 0 0 0 8px;
}

.instagramIcon {
  width: 20px;
  height: 19.19px;
  background-image: url("../../images/footer/Instagram.png");

  &:hover {
    background-image: url("../../images/footer/Instagram_rollover.png");
  }
}

.linkedInIcon {
  width: 20px;
  height: 19.47px;
  background-image: url("../../images/footer/LinkedIn.png");

  &:hover {
    background-image: url("../../images/footer/linkedin_rollover.png");
  }
}

.twitterIcon {
  background-image: url("../../images/footer/Twitter.png");
  width: 20px;
  height: 16.88px;

  &:hover {
    background-image: url("../../images/footer/twitter_rollover.png");
  }
}

.facebookIcon {
  background-image: url("../../images/footer/Facebook.png");
  width: 10.25px;
  height: 19.95px;

  &:hover {
    background-image: url("../../images/footer/Facebook_rollover.png");
  }
}

.socialIconImg {
  max-width: 24px;
  max-height: 24px;
  vertical-align: top;
}

.copyRight {
  margin-top: 12px;
  font-size: 10px;
}

.bsiLogo {
  max-width: 90px;
}

.cyberLogo {
  max-width: 45px;
}

.certifications {
  display: flex;
  width: 100%;
  padding-top: 32px;
  justify-content: space-between;
  align-items: flex-end;
}