@import "../../styles/_variables.scss";

.hero {
  margin: 0 auto;

  overflow: hidden;
}

.heroWrap {
  position: relative;
}

$avatarWidth: 15%;

.authorAvatar {
  position: absolute;
  max-width: 60px;
  max-height: 60px;
  bottom: $avatarWidth * (-0.5);
  left: 50%;
  transform: translateX(-50%);
  // width: $avatarWidth;
  z-index: 2;
  border-radius: 50%;
  overflow: hidden;

  border: 2px solid white;

  @media only screen and (min-width: 760px) {
    max-width: 100px;
    max-height: 100px;
  }
}

.section {
  max-width: 700px;
  margin: 0 auto;
  color: $darkGray;
  p {
    padding:15px 0;
  }
}

.sharepostSection {
  text-transform: uppercase;
  padding-top: 20px;
  border-top: 2px solid #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  margin-bottom: 30px;
  align-items: center;
}

.sectionHeading {
  font-weight: bold;
}

.shareBtns {
  margin-left: 16px;
}

.sectionParagraph {
  padding: 15px 0;
  line-height: 1.5;
}

.sectionImage {
  margin-top: 40px;
  margin-bottom: 40px;

  figcaption {
    font-style: italic;
    font-family: $fontLight;
    padding: 10px 0;
    color: $darkGray;
  }
}

.textDividerTop {
  border-top: 2px solid $mainOrange;
  margin: 0 auto;
  max-width: 400px;
}

.textDividerBottom {
  margin: 0 auto 20px;
  border-bottom: 2px solid $mainOrange;
  max-width: 400px;
}

.shareSocialIcon {
  display: inline-block;
  margin-right: 16px;
  font-size: 20px;
  color: $lightGray;
  position: relative;
}

.sectionLinksWrap {
  padding: 0px 0 40px;

}

.sectionLink {
  border: 2px solid $mainOrange;
  padding: 10px 15px;
  margin-top: 0;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: $mainOrange;
  margin-right: 20px;

  &::after {
    content: "›";
    padding-left: 5px;
  }

  &:hover {
    color: $mainOrange !important;
  }
}

.asteriskText {
  font-size: 12px;
  font-style: italic;
}

.fbIcon {
  font-size: 18px;
  top: -3px;
}

.linkedInIcon {
  top: -1px;
  font-size: 22px;
}

.twitterIcon {
  top: -1px;
}

